<p id="notice"><%= notice %></p>

<div class="blog-text"> 
<p>
  <strong>タイトル</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容</strong>
  <%= @blog.content %>
</p>
</div>

<div id = "comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
</div>
 
<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
